{% extends 'base_layout.html' %}

{% load static %} <!-- bez load nie poszlo -->

{% block content %}
    <div class="gallery">
        <a href="{% static 'portfolio/ada1.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ada1_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ada2.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ada2_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ada3.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ada3_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ada4.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ada4_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ada5.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ada5_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ada6.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ada6_small.jpg' %}"></a>
        <a href="{% static 'portfolio/iza1.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/iza1_small.jpg' %}"></a>
        <a href="{% static 'portfolio/iza2.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/iza2_small.jpg' %}"></a>
        <a href="{% static 'portfolio/aga1.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/aga1_small.jpg' %}"></a>
        <a href="{% static 'portfolio/aga2.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/aga2_small.jpg' %}"></a>
        <a href="{% static 'portfolio/scarli1.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/scarli1_small.jpg' %}"></a>
        <a href="{% static 'portfolio/scarli2.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/scarli2_small.jpg' %}"></a>
        <a href="{% static 'portfolio/scarli3.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/scarli3_small.jpg' %}"></a>
        <a href="{% static 'portfolio/scarli4.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/scarli4_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ala1.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ala1_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ala2.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ala2_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ala3.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ala3_small.jpg' %}"></a>
        <a href="{% static 'portfolio/ala4.jpg' %}" data-lightbox="ada"><img src="{% static 'portfolio/ala4_small.jpg' %}"></a>


    </div>

{% endblock %}