
.wrapper {
    background-color: #ffffff;
    width: 795px;
    margin: auto;
}

.gallery {
    width: 100%;
}

.gallery img {
    transition: 1s;
    margin: 5px;
    border-radius: 0px;
}

.gallery img:hover {
    filter: grayscale(100%);
}